body{
  --twitter-color:#50b7f5;
  --twitter-background:#e6ecf0;
}

.app{
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 0 10px;
}

@media screen and (max-width:1200px){
  .app{
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width:960px){
  .app{
    /* display: block; */
    margin-right: 50px;
    margin-left: 50px;
    border-left: 1px solid var(--twitter-background);
  }
}